 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 
 .container {
     max-width: 1100px;
     margin: auto;
 }
 
 header {
     background-color: rgb(50, 126, 119);
 }
 
 header .container {
     overflow: auto;
 }
 
 nav {
     float: right;
     margin-top: 45px;
 }
 
 .logo {
     float: left;
 }
 
 .logo img {
     width: 60px;
 }
 
 header nav li {
     display: inline-block;
     margin-left: 15px;
     padding-left: 15px;
     border-left: 2px solid #000;
 }
 
 header nav li:first-child {
     border-left: none;
 }
 
 .gradient {
     background: linear-gradient(45deg, rgb(228, 220, 220), rgb(90, 156, 179));
     padding-top: 130px;
     padding-bottom: 130px;
 }
 
 .start {
     display: inline-block;
     padding: 15px 38px;
     background-color: rgb(127, 173, 158);
     border-radius: 5px;
     margin-top: 20px;
     color: white;
     text-decoration: none;
 }
 
 .tree {
     float: left;
     max-width: 300px;
     margin-right: 20px;
 }
 
 footer {
     background-color: rgb(50, 126, 119);
     padding: 60px 0;
     text-align: right;
 }
 
 footer p {
     color: white;
 }
 
 header.container,
 .content .container {
     overflow: auto;
 }
 
 .content {
     padding: 38px 0;
 }
 
 nav a {
     color: white;
     text-decoration: none;
     margin-right: 15px;
 }